<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    {{- partial "head.html" . -}}
    <body class="is-preload">
        {{- partial "header.html" . -}}
        {{- partial "nav.html" . -}}
        {{- partial "hero.html" . -}}
        {{- partial "highlights.html" . -}}
        {{- partial "cta.html" . -}}
        {{- partial "testimonials.html" . -}}
        {{- partial "footer.html" . -}}
        <script src="js/jquery.min.js" type="text/javascript"></script>
        <script src="js/browser.min.js" type="text/javascript"></script>
        <script src="js/breakpoints.min.js" type="text/javascript"></script>
        <script src="js/util.js" type="text/javascript"></script>
        <script src="js/main.js" type="text/javascript"></script>

        <script>
          if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
              if (!user) {
                window.netlifyIdentity.on("login", () => {
                  document.location.href = "/admin/";
                });
              }
            });
          }
        </script>
        
    </body>
</html>
