<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title> {{ .Site.Title }}</title>
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.LanguageCode }}<meta http-equiv="content-language" content="{{ . }}" />{{ end }}

  <!-- <link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" /> -->
  <link href="css/main.css" rel="stylesheet" type="text/css" media="all" />
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
</head>
