<html>
    {{- partial "head.html" . -}}
    <body class="is-preload">
        {{- partial "header.html" . -}}
        {{- partial "nav.html" . -}}
        {{- partial "hero.html" . -}}
        {{- partial "highlights.html" . -}}
        {{- partial "cta.html" . -}}
        {{- partial "testimonials.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        <script src="js/jquery.min.js"></script>
        <script src="js/browser.min.js"></script>
        <script src="js/breakpoints.min.js"></script>
        <script src="js/util.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
